// Place all the styles related to the ChoreLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.choreblock {
    border: 1px solid black;
    background-color: lemonchiffon;

    .blocktitle {
        font-weight: bold;
    }

    li {
        list-style-type: none;
    }

    input[type=checkbox]:checked  + label {
        text-decoration: line-through;
    }
}

.choreblock.completed {
    background-color: lightcyan;
}

@media print {
    .headerbar, .footer {
        display: none;
    }

    #addChore, #carryOver {
        display: none;
    }
}
