// Place all the styles related to the ChoreLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.choreblock {
    border: 1px solid black;
    background-color: lightcyan;

    .blocktitle {
        font-weight: bold;
    }

    li {
        list-style-type: none;
    }
}

@media print {

    #addChore {
        display:none
    }
}