<%= @chore_list.date.strftime("%A, %B %d, %Y") %>

<h2>Chores!</h2>

<% @chores_by_person.keys.each do |assigned_to| %>
    <%= render 'choreblock', assigned_to: assigned_to, chores_by_person: @chores_by_person %>
<% end %>

<div id="addChore">
    <h2>Add a chore:</h2>
    <%= render 'chores/choreform', chore_list: @chore_list %>
</div>

<div class="footer">
    <%= link_to "Home", root_path %>
</div>
